body{
          background-color: pink; /* change color web page */
}
.Like-button{
          background-color: rgb(23, 135, 201); /* change background color */ 
          color: white; /* change color text in button */
          /* padding: 15px 30px; */
          height: 50px;
          width: 100px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
}
.Like-button:hover{
          background-color: rgb(0, 162, 255);
          transition: all 0.4s;
}
.Like-button:active{
          background-color: red;
          text-decoration: underline;
}
.Join-button{
          background-color: pink;
          color: rgb(23, 135, 201); 
          height: 50px;
          width: 100px;
          border: solid 1px;
          font-weight: bold;
          margin: 0px 10px;
}
.Join-button:hover{
          background-color: rgb(0, 162, 255);
          color: white;
          transition: all 0.4s;
          border: solid 1px;
          border-style: none;
}
.Join-button:active{
          background-color: red;
          filter: blur(2px);
}
.Submit-button{
          background-color: rgb(225, 195, 27);
          color: white;
          height: 50px;
          width: 100px;
          font-weight: bold;
          border: solid 1px; 
          border-radius: 50px;
          text-transform: uppercase;  /* covernt text small to big all */
          /* box-shadow: 5px 5px 5px goldenrod; */
}
.Submit-button:hover{
          background-color: rgb(255, 217, 0);
          transition: all 0.4s;
          /* box-shadow: 5px 10px rgb(255, 183, 0); */
          text-decoration: underline;

}
.Submit-button:active{
          background-color: purple;
          box-shadow: 5px 10px rgb(255, 183, 0);
          transition: all 0.4s;

}